body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14pt;
  color: #333;
}

h1 {
  color: #555;
  text-align: center;
}

h2 {
  color: #555;
}

.title-section {
  background-color: purple;
  padding: 5em 3em;
  color: #ddd;
  text-align: center;
}

.title-text {
  font-size: 200%;
}

.blinking-carat {
  animation: blink 1s cubic-bezier(0, 1, 0, 1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.title-experiences {
  margin-top: 1em;
  font-size: 150%;
}

.experiences-cell {
  display: inline-block;
  margin: 0 2em;
  padding: 0.5em;
}

.about-section, .experience-section {
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

.meter-description {
  display: inline-block;
  width: 50%;
}

.meter {
  display: inline-block;
  background-color: #4a4a4a;
  height: 0.75em;
  width: 7em;
  border-radius: 25px;
  padding: 0.1em;
}

.meter-inner {
  display: block;
  background-color: #83acf2;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.columns-2 > .column {
  display: inline-block;
  width: 50%;
}

@media only screen and (max-device-width: 600px) {
  .title-section {
    padding: 2em 1em;
  }

  .columns-2 > .column {
    display: block;
    width: 100%;
  }
}